<div>
  <app-widget-area></app-widget-area>
  <div>
    <br />
    <mat-divider></mat-divider>
    <br />
    <div class="flex stats-card">
      <mat-card>
        <app-widget-card></app-widget-card>
      </mat-card>
      <mat-card>
        <app-widget-card></app-widget-card>
      </mat-card>
      <mat-card>
        <app-widget-card></app-widget-card>
      </mat-card>
      <mat-card>
        <app-widget-card></app-widget-card>
      </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div>
      <div>Table</div>
      <div>Pie Charts</div>
    </div>
  </div>
</div>
